<!-- Footer -->
<footer class="py-5 border-t border-zinc-200 dark:border-zinc-800 mt-auto">
  <div class="mx-auto px-4 lg:px-8">
    <!-- Social Media Links -->
    <div class="flex justify-center gap-6 mb-6">
      <button
        hlmBtn
        class="cursor-pointer"
        aria-label="Open GitHub Profile"
        size="icon"
        variant="ghost"
        type="button"
        (click)="openGithub()"
      >
        <ng-icon hlm name="lucideGithub" class="text-primary" size="base" />
      </button>

      <button
        hlmBtn
        aria-label="Open Twitter X Profile"
        size="icon"
        variant="ghost"
        type="button"
        class="cursor-pointer"
        (click)="openX()"
      >
        <ng-icon
          hlm
          name="remixTwitterXFill"
          class="text-primary"
          size="base"
        />
      </button>
      <button
        hlmBtn
        aria-label="Open LinkedIn Profile"
        size="icon"
        variant="ghost"
        type="button"
        class="cursor-pointer"
        (click)="openLinkedIn()"
      >
        <ng-icon
          hlm
          name="radixLinkedinLogo"
          class="text-primary"
          size="base"
        />
      </button>

      <a
        hlmBtn
        size="icon"
        variant="ghost"
        href="mailto:oussemasahbeni300@gmail.com"
        aria-label="Email"
      >
        <ng-icon hlm size="base" name="radixEnvelopeClosed" />
      </a>
      <a
        hlmBtn
        size="icon"
        variant="ghost"
        href="tel:+21654750526"
        aria-label="Phone"
      >
        <ng-icon hlm size="base" name="lucidePhone" />
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center border-gray-200 dark:border-gray-700">
      <p class="text-sm text-gray-500 dark:text-gray-400">
        © {{ date() }} Oussema Sahbeni. All rights reserved.
      </p>
    </div>
  </div>
</footer>
